html{
    font-size: 18px;
}

h1, h2 {
    margin: .5rem;
    font-weight: 100;
    text-transform: uppercase;
}

#heading{
    font-size: 3rem;
    letter-spacing: .2rem;
}

.setting h2{
    letter-spacing: .2rem;
}

.settings-display{
    font-size: 2rem;
    width: 5rem;
}

#timer-label{
    font-size: 1.85rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#time-left{
    font-size: 3rem;
    letter-spacing: .1rem;
}